@using Samples.Web.Extensions;
@model DiveLocationListModel


@{ ViewBag.Title = "Manage Forms";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="row">
    <div class="col-12 text-right">
        <a href="/DiveLocations/Create" class="btn btn-dark">Create New Location</a>
    </div>
</div>

<form asp-action="Index" asp-controller="DiveLocations" method="get">
    <div id="lblErrorSummary" class="ibox-title" style="display:none">
        <h5>Error(s)</h5>
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div id="search">
        <div class="form-group">
            <label asp-for="SearchTerms" class="control-label"></label> <span asp-validation-for="SearchTerms" class="text-danger"></span>
            <input asp-for="SearchTerms" class="form-control" />
            <div class="text-right">
                <input type="submit" value="Search" class="btn btn-primary" />

            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    Location Name
                </th>
                <th>
                    GPS Coordinates
                </th>
                <th>
                    Dive Type
                </th>


                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.PagedData != null && Model.PagedData.Data.Count() > 0)
            {
@foreach (var item in Model.PagedData.Data)
{
<tr>
    <td>
        @Html.DisplayImage(item.ImageData)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LocationName)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.GpsCoordinates)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.DiveTypeName)
    </td>

    <td>
        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-white btn-sm">Edit</a>
        <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete this dive location?');" class="btn btn-warning btn-sm">Delete</a>
    </td>
</tr>} }
else
{
<tr>
    <td>
        No dive locations have been created.
    </td>
</tr>            }
        </tbody>
    </table>
    <div>
        <ul class="pagination">
            <li class="page-item @(!Model.ShowFirst? "disabled":"")" title="First">
                <a asp-controller="DiveLocations" class="page-link" asp-all-route-data="@(new Dictionary<string, string>{ { "currentpage", "1" }})">
                    <i class="fas fa-fast-backward"></i>
                </a>
            </li>

            <li class="page-item @(!Model.ShowPrevious? "disabled":"")" title="Previous">
                <a asp-controller="DiveLocations" asp-all-route-data="@(new Dictionary<string, string>{{ "currentpage", (Model.CurrentPage -1).ToString() }})" class="page-link">
                    <i class="fas fa-step-backward"></i>
                </a>
            </li>
            <li class="page-item  @(!Model.ShowNext? "disabled":"")" title="Next">
                <a asp-controller="DiveLocations" asp-all-route-data="@(new Dictionary<string, string>{{ "currentpage", (Model.CurrentPage + 1).ToString() }})" class="page-link">
                    <i class="fas fa-step-forward"></i>
                </a>
            </li>

            <li class="page-item  @(!Model.ShowLast? "disabled":"")" title="Last">
                <a asp-controller="DiveLocations" asp-all-route-data="@(new Dictionary<string, string>{{ "currentpage", Model.TotalPages.ToString() }})" class="page-link">
                    <i class="fas fa-fast-forward"></i>
                </a>
            </li>
        </ul>
    </div>
</form>
